.#{$css}-overlay {
  border-radius: 8px;
}

.#{$css}-overlay div[tabindex] {
  @include transition1(all, 0.30s, ease-in-out);
}

.#{$css}-overlay div[tabindex]:focus {
  @include box-outline-shadow(#1b8fcc, 2px);
  @include remove-outline;
}

.#{$css}-overlay div[tabindex]:hover, .#{$css}-overlay div[tabindex]:focus:hover {
    box-shadow: none;
}

.#{$css}-dashboard {
  @include absolute-align-all();
  height: 100%;
  /* Rectangle 2 Copy: */
}

.#{$css}-settings-right-sidebar {
    display: table;
    height: 100%;
    text-align: center;
    @include absolute_right_sidebar($sidebar_width);
    .#{$css}-controlbar-right-section {
        display: table-cell;
        .#{$css}-circle-button-container{
            margin: 2px auto;
        }
    }
}

.#{$css}-controlbar-middle-section {
  height: 100%;
  .#{$css}-timer-container {
    display: table;
    cursor: default;
    height: 100%;
    position: absolute;
    width: 100%;
    .#{$css}-label-container {
      display: table-cell;
      float: none;
      position: relative;
      text-align: center;
      vertical-align: top;
      width: auto;
      .#{$css}-button-primary{
        margin: 10px 0 0;
        padding: 7px 16px;
        font-size: 12px;
        color: white;
        opacity: 1;
        background-color: transparent;

        &.#{$css}-record-timer {
          @include background-rgba(0, 0, 0, 0.2, #000);
          @include border-radius(24px);
          i.#{$css}-icon-circle {
            animation: blink-animation 1s step-start 0s infinite;
            -webkit-animation: blink-animation 1s step-start 0s infinite;
            color: $theme_color_red;
            font-size: 8px;
          }
        }
      }
    }
  }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.#{$css}-controlbar {
  @include absolute-align-full-bottom();
  width: 100%;
  height: $controlbar_footer_height;
}

.#{$css}-long-rounded-button {
  @include border-radius($controlbar_primarybutton_radius);
  display: inline-block;
  & > p {
    font-family: $font_family;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $controlbar_primarybutton_font_size;
    padding: $controlbar_button_padding;
    margin: 0;
  }
}

.#{$css}-circle-button {
  color: white;
  display: inline-block;
  height: $controlbar_button_size;
  line-height: $controlbar_button_size;
  text-align: center;
  width: 100%;
}

.#{$css}-button-circle-unselected, .#{$css}-button-inner {
  color: white;
  opacity: 1;
  cursor: pointer;
}

.#{$css}-button-circle-selected, .#{$css}-button-inner:hover, .#{$css}-button-selected {
  color: white;
  opacity: 1;
  cursor: pointer;
}

.#{$css}-button-inner {
  border: none;
  cursor: pointer;
  font-size: inherit;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  @include background-rgba(0, 0, 0, 0.2, #000);

  &:hover {
    @include background-rgba(0, 0, 0, 0.5, #000);
  }

  i:before {
    line-height: 40px;
  }
}

.#{$css}-settings {
  position: absolute;
  left: unset;
  right: 0;
  top: 0;
  color: $text_color;
  margin: $settings_margin;
  padding: 0;
  width: 40px;
  height: 40px;
  label {
    font-family: $font_family;
    font-weight: $font_weight;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $settings_font_size ;
    width: 130px;
  }
  li {
    padding: 0 8px;
  } input[type=radio]:checked + span { border: 3px solid $text_color;
  }
  span {
    background-color: $button_color;
  }
  .#{$css}-circle-button {
    margin: 0;
  }
}

.#{$css}-button-primary {
  display: inline-block;
  @include relative-align-all();
  @include transform-translate(0, 0);
  padding: 12px;
  z-index: 10;
  opacity: 1;
  @include border-radius(50%);
  @include background-rgba(0, 0, 0, 0.2, #000);

  &:hover {
    @include background-rgba(0, 0, 0, 0.5, #000);
  }

  &.#{$css}-button-record-start {
    background-color: $theme_color_red;
    width: $controlbar_primarybutton_size;
    height: $controlbar_primarybutton_size;
    @include border-radius(50%);
    @include border-rgba(4px, 0, 0, 0, 0.2, #FFFFFF);
    @include border-padding-box();
    padding: unset;

    &:hover {
      @include border-rgba(4px, 0, 0, 0, 0.5, #FFFFFF);
    }
  }

  &.#{$css}-button-record-stop {
    background-color: $theme_color_green;
    color: white;
    width: $controlbar_primarybutton_size;
    height: $controlbar_primarybutton_size;
    @include border-radius(50%);
    @include border-rgba(4px, 0, 0, 0, 0.2, #FFFFFF);
    @include border-padding-box();
    padding: unset;

    &:hover {
      @include border-rgba(4px, 0, 0, 0, 0.5, #FFFFFF);
    }

    i:before {
      line-height: 32px;
    }
  }

  &.#{$css}-disabled {
    @include background-rgba(0, 0, 0, .1, #1a1a1a);
    @include color-rgba(0, 0, 0, .5, #808080);
  }

  &.#{$css}-button-skip {
    @include background-rgba(0, 0, 0, .2, #333333);
    color: white; 
  }

  &.#{$css}-rerecord-button {
    color: white;
    opacity: 1;
  }
}

.#{$css}-settings-button {
  background: $settings_bgcolor;
  cursor: pointer;
  margin: 15px 0 0 15px;
  & > p {
    color: $text_color_secondary;
  }
}

.#{$css}-bubble-info {
  right: $sidebar_width + 5;
  li {
    text-align: left;
  }
}

.#{$css}-bubble-info {
  position: absolute;
}

.#{$css}-controlbar-center-section {
  @include absolute-align-left();
  text-align: center;
  width: 100%;
}

.#{$css}-button-container {
  display: inline-block;
}

.#{$css}-label-container {
  float: left;
  text-align: right;
  width: 50%;
  .#{$css}-button-primary {
    color: white;
    @include background-rgba(0, 0, 0, .4, #979797);
  }
}

.#{$css}-stop-button-container{
  text-align: center;
}