.#{$css}-imagegallery-image, .#{$css}-overlay img  {
  @include border-radius($imagegallery_border_radius);
}

.#{$css}-imagegallery-image {
  i.#{$css}-icon-check {
    display: none;
    color: white;
    font-size: 16px;
  }  
}

.#{$css}-imagegallery-image.#{$css}-selected-snapshot {
  @include background-rgba(63, 189, 124, 0.8, #3FBD7C);
  text-align: center;

  i.#{$css}-icon-check {
    display: block;
    line-height: 4em;
  }
}

.#{$css}-imagegallery-rightbutton, .#{$css}-imagegallery-leftbutton {
  @include border-radius(50%);
  @include background-rgba(0, 0, 0, 0.2, #000);
  height: $imagegallery_buttonsize;
  width: $imagegallery_buttonsize;
  bottom: 8px;
  right: 0;
  z-index: 10;
  position: absolute;
  margin-left: $imagegallery_buttonmargin;
  margin-right: $imagegallery_buttonmargin;

  &:hover {
    @include background-rgba(0, 0, 0, 0.5, #000);
  }

  i {
    color: white;
    font-size: 18px;
    &:before {
      line-height: 40px;
    }
  }
}

.#{$css}-icon-right-open:before{
  margin-right: 0;
}

.#{$css}-icon-left-open:before{
  margin-left: 0;
}
