.#{$css}-imagegallery-image, .#{$css}-overlay img  {
  border: 2px solid transparent;
  @include border-radius($imagegallery_border_radius);
}

.#{$css}-imagegallery-image {
  i.#{$css}-icon-check {
    display: none;
    color: white;
    font-size: 16px;
  }  
}

.#{$css}-imagegallery-image.#{$css}-selected-snapshot {
  border: 2px solid white;
  @include background-rgba(63, 189, 124, 0.8, #3FBD7C);
  text-align: center;

  i.#{$css}-icon-check {
    display: block;
    line-height: 7em;
  }
}

.#{$css}-imagegallery-rightbutton, .#{$css}-imagegallery-leftbutton {
  border-radius: 50%;
  height: $imagegallery_buttonsize;
  width: $imagegallery_buttonsize;
  bottom: 18px;
  right: 0;
  z-index: 10;
  position: absolute;
  margin-left: $imagegallery_buttonmargin;
  margin-right: $imagegallery_buttonmargin;

  i {
    color: white;
    font-size: 24px;
  }
}

.#{$css}-icon-right-open:before{
  margin-right: 0;
}

.#{$css}-icon-left-open:before{
  margin-left: 0;
}
