
.#{$cssnoie8} .#{$css}-playbutton-container {
    @include absolute-center-center;
    @include transition1(all, $playbutton_transition_time, ease-in-out);
    @include transform-translate(-50%, -50%);
    @include background-rgba(255,255,255,0.4,#666666);
    border-radius: 50%;
    box-sizing: content-box;
    cursor: pointer;
    font-size: $playbutton_font_size;
    height: 48px;
    text-align: center;
    width: 48px;
    opacity: 0.9;
    box-shadow: none;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.#{$cssnoie8} .#{$css}-playbutton-container:hover {
    opacity: 1;
    box-shadow: none;

    .#{$css}-playbutton-button {
        background-color: white;
        color: $theme_color_green;
        border-radius: 50%;
        &:before {
            color: $theme_color_green;
        }
        &:after {
            color: $theme_color_green;
        }
    }
}

.#{$cssnoie8} .#{$css}-playbutton-button::after {
    @include fontello-icon;
    @include transition1(all, $playbutton_transition_time, ease-in-out);
    content: "\e805";
    color: $cover_playbutton_color;
    font-size: 23px;
    box-shadow: none;
}

.#{$cssnoie8} .#{$css}-playbutton-button::after {
    line-height: 2.3em;
    margin-left: 0.1em;
    width: 100%;
    box-shadow: none;
}

.#{$css}-playbutton-button:hover::after {
   // color: $cover_playbutton_hover_color;
   box-shadow: none;
}

.#{$css}-rerecord-bar {
    top: 0;
    right: 0;
    position: absolute;
}

.#{$css}-rerecord-backbar {  }

.#{$css}-rerecord-frontbar {
    height: $rerecord_height;
    overflow: hidden;
    padding-left: $rerecord_padding;
    padding-right: 0px;
    padding-top: 6px;
    text-align: center;
}

.#{$css}-rerecord-button-container {
    display: inline-block;
}

.#{$css}-rerecord-button {
    border-radius: 18px;
    color: $rerecord_primarybutton_text_color;
    background-color: transparent;
    @include clickable;
    font-family: $rerecord_font_family;
    font-weight: $rerecord_primarybutton_font_weight;
    font-size: $rerecord_primarybutton_font_size;
    padding: $rerecord_primarybutton_padding;
    letter-spacing: $rerecord_letter_spacing;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}
