
.#{$cssnoie8} .#{$css}-playbutton-container {
    @include absolute-center-center;
    @include transition1(all, $playbutton_transition_time, ease-in-out);
    @include transform-translate(-50%, -50%);
    @include background-rgba(0, 0, 0, 0.2, #000000);
    border-radius: 50%;
    box-sizing: content-box;
    cursor: pointer;
    font-size: $playbutton_font_size;
    height: 48px;
    text-align: center;
    width: 48px;
    opacity: 0.9;
    box-shadow: none;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.#{$cssnoie8} .#{$css}-playbutton-container:hover {
    opacity: 1;
    box-shadow: none;

    .#{$css}-playbutton-button {
        @include background-rgba(0, 0, 0, 0.2, #000);
        color: $theme_color_white;
        border-radius: 50%;
        &:before {
            color: $theme_color_white;
        }
        &:after {
            color: $theme_color_white;
        }

        &:hover {
            @include background-rgba(0, 0, 0, 0.5, #000);
        }
    }
}

.#{$cssnoie8} .#{$css}-playbutton-button::after {
    @include fontello-icon;
    @include transition1(all, $playbutton_transition_time, ease-in-out);
    content: "\e805";
    color: $cover_playbutton_color;
    font-size: 23px;
    box-shadow: none;
}

.#{$cssnoie8} .#{$css}-playbutton-button::after {
    line-height: 2.3em;
    margin-left: 0.1em;
    width: 100%;
    box-shadow: none;
}

.#{$css}-playbutton-button:hover::after {
   // color: $cover_playbutton_hover_color;
   box-shadow: none;
}

.#{$css}-rerecord-bar {
    top: 0;
    right: 0;
    position: absolute;
}

.#{$css}-rerecord-backbar {  }

.#{$css}-rerecord-frontbar {
    height: $rerecord_height;
    overflow: hidden;
    padding-left: $rerecord_padding;
    padding-right: 0;
    padding-top: 6px;
    text-align: center;
}

.#{$css}-rerecord-button-container {
    display: inline-block;
}

.#{$css}-rerecord-button {
    border-radius: 50%;
    color: white;
    @include background-rgba(0, 0, 0, 0.2, #000000);
    @include clickable;
    font-size: $rerecord_primarybutton_font_size;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 16px;
    right: 16px;
    opacity: 1;

    i:before {
        line-height: 40px;
    }

    &:hover {
        @include background-rgba(0, 0, 0, 0.5, #000000);
    }
}
